<%- include('partials/header'); -%>

<header class="clearfix">
  <section class="heading-group-h1">
    <h1>
      Book App!
    </h1>
    <h2>The shocking power of back-end engines</h2>
  </section>
  <%- include('partials/nav') -%>
</header>
<main>
  <section>
    <h2>All Books (
      <%=count %> stored )</h2>
    <div>
      <% books.forEach( book =>  {%>
      <%- include('partials/itemShort', { book: book }); -%>
      <form action="/book/<%= book.id %>" method="get">
        <input type="submit" value="Details" />
      </form>
      <% }); %>
    </div>
  </section>
  <section id="about" class="tab-content">
    <header>
      Welcome to my Blog
    </header>
    <section>
      <h1>Some of my interests:</h1>
      <ul>
        <li>Coding</li>
        <li>Sharing what I've learned</li>
        <li>Hanging with my family</li>
      </ul>
    </section>
  </section>
</main>
<%- include('partials/footer'); -%>